<!-- <div class="main">
  <p class="header">UW Rules</p>
  <div class="rule-div">
    <div *ngFor="let ruleTitle of groupRuleTypes" class="rule-group-box">
      <section>
        <p class="group-rule-name">{{ ruleTitle }}</p>
        <div>
          <button (click)="ruleStatusChange(ruleTitle, null, 'disable')" *ngIf="ruleGroups[ruleTitle][0].apply_rule_group"> Disable Group</button>
          <button (click)="ruleStatusChange(ruleTitle, null, 'enable')" *ngIf="!ruleGroups[ruleTitle][0].apply_rule_group"> Enable Group</button>
      </div>
      </section>
      <div *ngFor="let formRules of ruleGroups[ruleTitle]" class="rule">
        <p class="form-name">{{formRules.form_name}}</p>
        <form [formGroup]="dynamicForms[formRules.uw_rule_id]" (ngSubmit)="onSubmit(formRules.uw_rule_id)">
          <div *ngFor="let formConfig of formRules.form_config; let i = index" class="group-entries">
            <div *ngIf="['text', 'number', 'textarea', 'radio', 'select'].includes(formConfig.type)" class="form-entries">
              <label >{{ formConfig.label }}</label>
              <br>
              <div class="input-box">
              <input *ngIf="formConfig.type !== 'textarea' && formConfig.type !== 'radio' && formConfig.type !== 'select'"
                    [type]="formConfig.type"
                    class="form-control"
                    [formControlName]="formConfig.name" />

              <textarea *ngIf="formConfig.type === 'textarea'"
                        class="form-control"
                        [formControlName]="formConfig.name"></textarea>

              <div *ngIf="formConfig.type === 'radio'">
                <div *ngFor="let option of formConfig.options">
                  <label>
                    <input type="radio" [value]="option.value" [formControlName]="formConfig.name" />
                    {{ option.label }}
                  </label>
                </div>
              </div>

              <select *ngIf="formConfig.type === 'select'" [formControlName]="formConfig.name" class="form-control">
                <option *ngFor="let option of formConfig.options" [value]="option.value">{{ option.label }}</option>
              </select>
            </div>
            </div>
          </div>
          <div class="button-set">
            <button (click)="ruleStatusChange(ruleTitle,formRules.uw_rule_id,'disable')" *ngIf="formRules.apply_rule">Disable Rule</button>
            <button (click)="ruleStatusChange(ruleTitle,formRules.uw_rule_id,'enable')" *ngIf="!formRules.apply_rule">Enable Rule</button>
          
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="rule-group-box">
    <label>Enter the number of members</label>
    <input [(ngModel)]="memberCount" type="number" class="form-control" (ngModelChange)="updateEvaluateRuleData()">
  </div>

  <div class="rule-div">
    <div class="rule-group-box" *ngFor="let member of getMembers(); let i = index">
      <label>Age</label>
      <input placeholder="Age" [(ngModel)]="evaluateRuleData[i].age">
      <br/>
      <label>Gender</label>
      <select [(ngModel)]="evaluateRuleData[i].gender">
        <option  value="female">Female</option>
        <option  value="male">Male</option>
      </select>
      <br/>
      <label>Nationality</label>
      <select [(ngModel)]="evaluateRuleData[i].nationality">
        <option  value="india">India</option>
        <option  value="canada">Canada</option>
        <option  value="usa">USA</option>
      </select>
      <br/>
      <label>Benefits</label>
      <select [(ngModel)]="evaluateRuleData[i].nationality">
        <option  value="worldwide">World Wide</option>
        <option  value="20%copay">20% Copay</option>
        <option  value="sum150k">Sum Insured Above 150K</option>
      </select>
      <div>{{evaluateRuleData[i].gender}}</div>
    </div>
  </div>

  <button (click)="evaluateRule()">Submit</button>
</div>
 -->

 <div class="main">
    <p class="header">UW Rules</p>
      <div *ngFor="let ruleTitle of groupRuleTypes" class="rule-group-box">
          <p class="group-rule-name">{{ ruleTitle }}</p>
          <table >
            <tr *ngFor="let formRules of ruleGroups[ruleTitle]" class="rule">
              <td  class="form-name">{{formRules.form_name}}</td>
              <td> <input type = "file" #fileInput (change)="uploadUwRules($event,formRules.uw_rule_id, fileInput)"/>Upload Rules </td>
              <td> <button  (click)="downloadFile(formRules.uw_rule_id, 'file_url')">Download Rules </button></td>
              <td> <button  (click)="downloadFile(formRules.uw_rule_id, 'file_template_url')">Download Template</button></td>              
            </tr>
          </table>
      </div>
 </div>
